@charset "UTF-8";

/* 모바일---------------------- */


#wrap{
  width: 80%;
  max-width: 960px;
  margin: 0 auto;
  flex-flow: column nowrap;
}

/* mo-인포메이션 영역 */
.info{
  order: 1;
  width: 100%;
  background-color: #2ecc71;
  border-bottom: 1px solid #39d67c;
}

.info .info-list{
  display: flex;
}
.info .info-list li{
  width: 25%;
  text-align: center;
}
.info .info-list li a{
  display: block;
  padding: 15px 0;
}

/* mo-헤더영역 */
header{
  order: 2;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #2ecc71;
  position: relative;
}
header h1{
  background-color: #2ecc71;
  text-transform: uppercase;
  line-height: 1.5;
  text-shadow: 0 1px 1px #25ab5e;
  text-align: center;
  width: 100%;
  padding: 30px 0;
}
header nav .gnb{display: none;}
header nav .gnb li{
  display: flex;
  width: 100%;
  background-color: #2c3e50;
}
header nav .gnb li a{
  width: 80%;
  text-indent: 20px;
  font-weight: bold;
  font-size: 0.938em;
  padding: 20px 0;
}

header nav .gnb li .sub-menu-toggle{
  width: 20%;
  text-indent: -9999px;
  background: url(../images/s_images/sub_menu_toggle_btn.png) no-repeat center;
  cursor: pointer;
}

header .menu-toggle-btn{
  display: block;
  width: 30px;
  height: 30px;
  background: url(../images/s_images/menu_toggle_btn.png);
  text-indent: -9900px;
  position: absolute;
  top: 10px;
  right: 20px;
  cursor: pointer;
}

/* mo-서브타이틀 */
.sub-title{
  order: 3;
  padding: 45px 0;
  text-align: center;
  background: #219af7;
}

.sub-title h2{
  color: #fff;
  font-size: 1.25em;
  font-weight: bold;
  margin-bottom: 12px;
}
.sub-title .sub-list{
  display: flex;
  justify-content: center;
}
.sub-title .sub-list li a{
  font-size: 0.813em;
  font-weight: bold;
}

/* mo-content */
.content{
  order: 4;
  padding: 20px;
  background-color: #fff;
}

.content > div{
  margin-top: 60px;
  text-align: center;
}

.content > div:first-child{
  margin-top: 0;
}
/* 1행 */
.content .row-1 img{
  width: 100%;
  max-width: 100%;
}
.content .row-1 h3{
  margin: 25px 0;
  font-size: 1.25em; /*20px*/
}
.content .row-1 p{
  color: #444;
  font-size: 0.875em;
  line-height: 1.5;
  text-align: justify;
}

/* 2행 */
.content .row-2 article{
  margin-bottom: 40px;
}
.content .row-2 article img{
  max-width: 100%;
}
.content .row-2 article h4{
  margin: 25px 0;
  font-size: 1.063em;
}
.content .row-2 article p{
  color: #444;
  font-size: 0.875em;
  line-height: 1.5;
  text-align: justify;
}

/* 3행 */

.content .row-3 h4{
  margin: 25px 0;
  font-size: 1.063em;
  text-align: center;
  border-bottom: 2px solid #25ab5e;
  padding-bottom: 8px;
}

.content .row-3 .para p{
  color: #444;
  font-size: 0.875em;
  line-height: 1.5;
  text-align: justify;
  margin-bottom: 20px;
}

/* m-footer */
footer{
  order: 5;
  background: #474747;
  padding: 20px 12.5%;
  width: 100%;
}
footer p{
  text-align: center;
  font-size: 0.625em;
  text-transform: uppercase;
  color: #fff;
}



/* 테블릿---------------------- */
@media all and (min-width : 768px){


  /* wrap : 가로방향 여러줄 */
  header{
    flex-direction: row;
  }

  header h1{
    position: absolute;
    top: 0;
    left: 0;
    /* (120/768) x 100 */
    width: 15.625%;
  }

  header nav{
    background: #2ecc71;
    width: 100%;
    min-height: 80px;
  }

  header nav .gnb{
    /* (310 / 768) x 100 */
    width: 40.36458333333333%;
    position: absolute;
    top: 100%;
    right: 0;
  }

  /* tab-content */
  .content{
    padding: 40px;
  }

  /* tab-footer */
  footer p{
    font-size: 0.813em; /*13px*/
    padding: 20px 5%;
  }
}/*end*/
/* pc---------------------- */
@media all and (min-width : 960px){

}/*end*/